{{ page_elements }}
  {{ partial:elements }}
{{ /page_elements }}

<div class="bg-terracotta text-white min-h-[600px]"> 
  <h1 class="font-bold">Whereas recognition of the inherent dignity</h1>
  <p class="font-semibold">Whereas recognition of the inherent dignity</p>
  <p class="font-medium">Whereas recognition of the inherent dignity</p>
  <p class="font-regular">Whereas recognition of the inherent dignity</p>
  <p class="font-light">Whereas recognition of the inherent dignity</p>
</div>
<div class="bg-white text-white min-h-[600px]"> 
  <h1 class="font-bold">Whereas recognition of the inherent dignity</h1>
  <p class="font-semibold">Whereas recognition of the inherent dignity</p>
  <p class="font-medium">Whereas recognition of the inherent dignity</p>
  <p class="font-regular">Whereas recognition of the inherent dignity</p>
  <p class="font-light">Whereas recognition of the inherent dignity</p>
</div>
<div class="bg-red-200 text-white min-h-[600px]"> 
  <h1 class="font-bold">Whereas recognition of the inherent dignity</h1>
  <p class="font-semibold">Whereas recognition of the inherent dignity</p>
  <p class="font-medium">Whereas recognition of the inherent dignity</p>
  <p class="font-regular">Whereas recognition of the inherent dignity</p>
  <p class="font-light">Whereas recognition of the inherent dignity</p>
</div>
