  <section data-section="unternehmerliste">
    {{ partial:components/anchor name="unternehmerliste" class="lg:!scroll-mt-60" }}
    {{ partial:layout/inner class="py-72 md:py-96 lg:py-120" }}
    <h1>Unternehmerliste</h1>

    <h2 class="font-semibold text-sm mb-20">Planer</h2>
    <div class="sm:grid sm:grid-cols-12 sm:gap-y-40">
      {{ entrepreneur where="category:planner" }}
        {{ if index == 5 }}
        <div class="block mb-30 sm:mb-0 sm:col-span-6 lg:col-span-4 py-20 pl-25 lg:py-30 lg:pl-30 border-l border-charcoal text-md xl:text-lg group">

        </div>
        {{ else }}
        {{ partial:components/entrepreneur }}
        {{ /if }}
    {{ /entrepreneur }}
    </div>

    <h2 class="font-semibold text-sm mb-20 mt-72 md:mt-96 lg:mt-120">Unternehmer</h2>
    <div class="sm:grid sm:grid-cols-12 sm:gap-y-40">
      {{ entrepreneur where="category:entrepreneur" }}
        {{ partial:components/entrepreneur }}
    {{ /entrepreneur }}
    </div>

  {{ /partial:layout/inner }}
</section>