
<section 
  data-section="intro"
  class="relative h-dvh sm:h-screen">
  {{ partial:components/media/image 
    :image="image" 
    class="w-full h-full object-cover"
    wrapperClass="h-dvh sm:h-screen"
    preset="focal-4-3"
    :sizes="['md','lg','xl','2xl']" }}
    {{ if cta_text }}
      <div class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 rounded-full bg-charcoal/70 w-[90%] sm:w-full max-w-[400px] md:max-w-[500px] lg:max-w-[600px] h-auto aspect-square flex items-center justify-center text-white font-semibold">
        <div class="text-center p-30 md:p-50 dark">
          <div class="text-lg sm:text-xl md:text-2xl lg:text-3xl text-pretty hyphens-none">
            {{ cta_text }}
          </div>
          {{ partial:components/buttons/arrow link="{{ cta_link }}" text="Mehr erfahren" class="text-white" }}
        </div>
      </div>
    {{ /if }}
</section>
